body{
	margin: 0%;
	background-color: #c1c1c1c1;
	font-family: geo;
}

.spinner{
	margin: auto;
	border: 5px solid #f3f3f3;
  	border-top: 5px solid #3498db;
  	border-radius: 50%;
  	width: 50px;
  	height: 50px;
  	animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.titre{
	text-align: center;
	color: #15a800;
	margin-top: 1%;
	height: 10%;
	color: #E7010E;
}

.bouton_categorie{
	text-align: center;
	margin-top: 2%;

}

.bouton_visu{
	padding: 1%;
	margin-left: 0.2%;
	margin-bottom: 1%;
	background-color: #003287;
	border-radius: 20px 20px 20px 20px;
	color: #ffffff;
	font-family: geo;
	font-size: 100%;
	transition: background-color 1s;
}

.bouton_visu:hover{
	background-color: #4286f4;
}

.liste_choix{
	text-align: center;
	border-top: solid 2px #000000;

}

.liste{
	display: inline-block;
	margin: 1.5%;
	font-size: 150%;
	transition: font-family 1s;
}

.liste:hover{
	font-family: geoOblique;
}

.liste_underline{
	display: inline-block;
	margin: 1.5%;
	font-size: 150%;
	border-bottom: 2px solid #000000;
	color: #4286f4;
}

.tableau{
	text-align: left;
	width: 50%;
	margin: auto;
	border-collapse: separate;
    border-spacing: 20px;
}

.tableau img{
	width: 10%;
}

.tableauRes{
	text-align: left;
	margin: auto;
	width: 90%;

}

.tableauRes td{
	min-width: 10%;
}

th{
	text-align: left;
}

tr{
	font-size: 120%;
}

h3{
	margin-left: 25%;
}

h4{
	text-align: center;
	color: #4286f4;
}

.gras{
	font-weight: bold;
}

.choice{
	display: block;
	margin: auto;
	text-align: center;
	width: 5%;

}

a{
	text-decoration: none;
}

.choice_equipe{
	display: block;
	margin: auto;
	text-align: center;
	width: 20%;
}

.corps{
	margin: auto;
}

.info{
	margin-left: 10%;
	position: relative;
 	float: left;
}

.info img{
	width: 20%;
}

.struct{
	display: inline-block;
	position: relative;
 	float: left;
 	margin-left: 8%;
}

.joueur_info{
	display: inline-block;
 	border: 1px solid #eaeaea;
 	margin: 2%;
 	padding-left: 2%;
 	padding-right: 2%;
}

@font-face {
  font-family: geo;
  src: url(ressource/GeosansLight.ttf);
}

@font-face {
  font-family: geoOblique;
  src: url(ressource/GeosansLight-Oblique.ttf);
}