body{
	margin: 0%;
	background-color: #c1c1c1c1;
}
.titre{
	text-align: center;
	color: #15a800;
	margin-top: 1%;
	height: 10%;
	color: #E7010E;
}

.bouton_categorie{
	text-align: center;
	margin-top: 2%;
}

.bouton_visu{
	padding: 1%;
	margin-left: 0.2%;
	margin-bottom: 1%;
	background-color: #003287;
	color: #ffffff;
}
.liste_choix{
	text-align: center;
	border-top: solid 2px #000000;
}
.liste{
	display: inline-block;
	margin: 1.5%;
}